<!DOCTYPE html>
<html lang='en'>
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <!-- HEADER -->
    <%- include ('./partials/header.ejs') %>

    <!-- PAGE CONTENT -->
    <div class='container'>
        <h3>Leave us a review!</h3>
        <form action='/blog' method='POST'>
            <label for='title'>Add a headline</label><br/>
            <input type='text'  name='title' placeholder='What is most important to know?' id='title'/><br/>
            <label for='review'>Write your review</label><br/>
            <textarea name='review' placeholder='What did you like or dislike? How did you brew this roast?' id='title'></textarea><br/>
            <label for='firstTime'>Is this your first time trying this roast?</label><br/>
            <input type='checkbox' name='firstTime'><br/>
            <input type='submit' value='Submit'>
        </form>
    <div>
    <% for (i=0; i<users.length; i++) { %> <% for (j=0; j<users[i].reviews.length; j++) { %> 
        <p><%= users[i]._id %></p>
    <div><h5><a href='/blog/<%=users[i].reviews[j]._id%>'><%= users[i].reviews[j].title %></a></h5>
            <p><%= users[i].reviews[j].review %></p>
        <h6><%if (users[i].reviews[j].firstTime) { %> By: <%= users[i].username %>, First Time Stave Coffee Drinker <% } else { %> By: <%= users[i].username %>,  Veteran Stave Coffee Drinker<% } %> </h6>
        <div id='edit_delete'>
            <% if (currentUser.username === users[i].username) { %> 
        <a href='blog/<%= users[i].reviews[j]._id %>/edit'> EDIT </a>
        
            <form action='/blog/<%=users[i].reviews[j]._id %>?_method=DELETE' method='POST'>
            <input type='submit' value='DELETE'/>
            </form>
            <% } %>
        </div>
        </div>
        <% } %>
    <% } %>
    </div>        
    </div>
    <!-- FOOTER -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>