<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Stave Blog </title>
    
</head>
<body>
    <header>
        <h3>Stave Coffee</h3> 
        <nav><ul><li><a href='/'>Back to Store</a></li></ul></nav>
    </header>
    <h3>Leave us a review!</h3>
    
    <div class='container'>
        
        <form action='/blog' method='POST'>
            <label for='title'>Add a headline</label>
            <input type='text' name='title' placeholder='What is most important to know?' id='title'><br>
            <label for='review'>Write your review</label>
            <input type='text' name='review' placeholder='What did you like or dislike? How did you brew this roast?' id='title'><br>
            <label for='name'>Name</label>
            <input type='text' name='name' placeholder='What is your name?' id='title'><br>
            <label for='firstTime'>Is this your first time trying this roast?</label>
            <input type='checkbox' name='firstTime'><br>
            <input type='submit' value='Submit'>
        </form>

        <% for(let i=0; i<reviews.length; i++) { %>
            <h5><%= reviews[i].name %></h5>
            <a href='/blog/<%= reviews[i].id %>'><h5><%= reviews[i].title %></h5></a>
            <p><%= reviews[i].review %></p>
            <% if (reviews[i].firstTime === true) { %>
                <h6><%= reviews[i].name %> is a first time Stave Coffee drinker</h6>
            <% } else { %> <h6><%= reviews[i].name %> is a veteran Stave Coffee drinker</h6>
            <% } %>
            <ul>
                <li>
                    <a href='/blog/<%= reviews[i].id %>/edit'>Edit</a>
                </li>
                <li>
                    <form action='/blog/<%= reviews[i].id %>?_method=DELETE' method='POST'>
                    <input type="submit" placeholder="DELETE"/>
                    </form>
                </li>
            </ul>
            
            
       <% } %>

    </div>
   
</body>
</html>