<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
        <!-- HEADER -->
    <%- include ('./partials/head.ejs') %>
    <h2> <%= reviews.title %> </h2>
    <h3><%= reviews.review %></h3>
    <h4><%= reviews.firstTime %></h4>
    <small> Created by <%= currentUser.username %> on <%= reviews.createdAt %></small>
</body>
</html>